.contactListItem {
  display: flex;
  justify-content: space-between;
}

.contactListItem:not(:last-child) {
  margin-bottom: 10px;
}

.contactListItem p {
  font-size: 18px;
}

.contactButton {
  display: inline-block;
  cursor: pointer;
  width: 20%;
  font-size: 16px;
  font-weight: 600;
  padding: 0;
  border: none;
  outline: none;
  border-radius: 5px;
  color: #d1d1d9;
  text-decoration: none;
  text-shadow: 0 -1px 2px #00000033;
  background: linear-gradient(#6e7078, #515156) #6e7078;
  box-shadow: 0 1px #ffffff33 inset, 0 3px 5px #00010680, 0 0 1px 1px #00010633;
  transition: 0.2s ease-in-out;
}

.contactButton:hover:not(:active) {
  background: linear-gradient(#7e7e86, #46474c) #7e7e86;
}
.contactButton:active {
  top: 1px;
  background: linear-gradient(#4c4d52, #38393e) #4c4d52;
  box-shadow: 0 0 1px #00000080 inset, 0 2px 3px #00000080 inset,
    0 1px 1px #ffffff1a;
}
